body {
width:100vw;
height:100vh;
margin:0px;
padding:0px;
overflow-x:hidden;
overflow-y:scroll;
background:#efeeed;
}

h1 {
font-size:5vh;
margin-left:3%;
margin-bottom:0px;
}

#header ul {
width:94%;
margin:.9%;
margin-left:3%;
background:orange;
padding:0px;
list-style:none;
display:block;
border-radius:5px;
}

#header ul > li {
display:inline-block;
padding:2.5vh;
font-size:2.5vh;
}

#header ul > li:hover {
background:#666;
color:#fff;
cursor:pointer;
}

#header ul > li.active {
background:#666;
color:#fff;
}

#header ul > li#cart {
float:right;
}

#filter_wrap {
width:20%;
margin-left:3%;
float:left;
background:orange;
height:100%;
border-radius:5px;
}

#filters {
list-style:none;
}

#filters li {
margin:3% 0%;
}


#filters li.heading {
margin:10% 0%;
}


#filters li strong{
font-weight:bold;
text-decoration:underline;
margin-top:5%;
}

#filters li span {
cursor:pointer;
color:#fff;
}

#filters li span:hover {
color:#666;
}

#results {
margin-left:3%;
width:71%;
float:left;
margin-bottom:5%;
}

.result_wrap {
width:24%;
float:left;
}

.result {
width:100%;
}

.result_image img {
width:98%;
}

#someBanner {
background-image:url('http://www.sitevibes.com/assets/images/price.jpg');
background-repeat:no-repeat;
background-size:100%;
width:94%;
height:450px;
margin-left:3%;
}